.footer {
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .banner {
  display: flex;
  padding-left: 2%;
  background: rgba(188, 80, 9, 0.63);
  color: white;
  width: 75%;
  flex-direction: column;
  justify-content: center;
}

.footer .actionButton {
  width: 25%;
}
