.footer {
  width: 100vw;
  height: 15vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.footer .banner {
  height: 10vh;
  display: flex;
  padding-left: 2%;
  background: var(--color-primary);
  width: 75%;
  flex-direction: column;
  justify-content: center;
}

.footer .actionButton {
  width: 25%;
}
