.calendar__title-container {
	display: grid;
	place-content: center;
	text-decoration: underline;
	font-weight: bold;
	margin: 0 0 0.5% 0;
}
.calendar__error-container {
	display: grid;
	place-content: center;
}
.calendar__calendar-container {
	display: grid;
	place-content: center;
}
.calendar__calendar-item {
	padding: 5%;
}
.calendar__recipes-container {
	margin: 2% 0 0 0;
	display: grid;
	place-content: center;
}
.calendar__recipes-array-row {
	display: flex;
	gap: 2%;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
.calendar__recipes-item {
	position: relative;
}
.calendar__recipes-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.calendar__recipes-item.active::before {
	opacity: 1;
}
.calendar__recipes__button-container {
	display: flex;
	justify-content: center;
	margin: 5% 0 0 0;
}
.calendar__recipes__button-item {
	width: 35%;
	padding: 1%;
	margin: 0;
}
.calendar__empty-recipes-message {
	margin: 5% 0 0 0;
	display: grid;
	place-content: center;
}
