.react-calendar {
	background-color: #2c2c2c;
	border: 1px solid #444;
	color: #fff;
}

.react-calendar__tile {
	background-color: inherit;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
	background-color: #444;
}

.react-calendar__tile--now {
	background-color: #666;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background-color: #777;
}

.react-calendar__tile--active {
	background-color: #0078d7;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
	background-color: #008ae6;
}
