.recipe__item-container {
	width: fit-content !important;
}
.recipe__item-card {
	padding: 2%;
	height: 100%;
	min-width: 20% !important;
	box-shadow: 1px 1px 1px 2px lightgrey !important;
}

.recipe__item-card__action-area {
	height: 100%;
	max-width: 15vw;
	border-radius: 5%;
}

.recipe__item-card__action-area:hover {
	box-shadow: 1px 1px 1px 2px black;
}

.recipe__item-card__action-media {
	border-radius: 5% 5% 0% 0%;
}

.recipe__item-card__action-content {
	white-space: break-spaces;
	padding: 10%;
	min-width: 10em;
	font-family: var(--font-family);
	height: 100%;
}
