.recipe__item-container
{
    margin-bottom: 2%;

}

.recipe__item-card {
    margin-top:2%;
    margin-bottom: 2%;
    height: 100%;
}

.recipe__item-card:hover
{
    box-shadow: 1px 1px 1px 2px black;
}

.recipe__item-content
{
    white-space:break-spaces;
    padding: 10%;
    min-width: 10em;
    font-family: var(--font-family);
}