.recipe__item-container {
}
.recipe__item-card {
	/* margin-bottom: 2%; */
	padding: 5%;
	height: 100%;
}

.recipe__item-card__action-area {
	height: 100%;
	max-width: 15vw;
}

.recipe__item-card__action-area:hover {
	box-shadow: 1px 1px 1px 2px black;
}

.recipe__item-car__action-media {
	border-radius: 5% 5% 0% 0%;
}

.recipe__item-car__action-content {
	white-space: break-spaces;
	padding: 10%;
	min-width: 10em;
	font-family: var(--font-family);
	height: 100%;
}
