html, body, .App, #root {
  height: -webkit-fill-available;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: unset;
  text-decoration: none;
}
