:root {
  --font-family: "Verdana", sans-serif;
  --color-primary: rgba(182, 39, 84, 0.63);
  --color-secondary: white;
  --color-positive: green;
  --color-negative: red;
  --background-color__forms: rgba(217, 217, 217, 0.722);
}
