:root {
	--font-family: 'Verdana', sans-serif;
	--color-bg: linear-gradient(
		107.56deg,
		rgba(255, 116, 15, 0.92) 30.73%,
		rgba(225, 111, 28, 0.62) 100%
	);
	--background-color__forms: rgba(217, 217, 217, 0.722);
}
