.contact-form {
	margin: auto;
	margin-top: 5%;
	width: 80%;
	color: black;
	background-color: var(--color-background-text);
	padding: 2%;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.315);
	display: flex;
	flex-direction: column;
}
.contactus__form-control {
	margin: 1% 0 !important;
}
.contactus__button-container {
	display: flex !important;
	align-items: center;
	justify-content: center;
}
