button {
  background: white;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 360px;
  font-size: large;
  padding: 2%;
  margin: 5%;
}

button:hover {
  background: var(--color-primary);
  color: white;
}
