.settings__page-container {
	font-family: var(--font-family);
	margin: auto;
	display: flex;
	background-color: var(--background-color__forms);
	width: 75%;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	border-radius: 25px;
}
.settings__p-title {
	font-size: x-large;
	font-weight: bold;
	text-decoration: underline;
}
.settings__avatar-uploader {
	margin: 1%;
}
.settings__avatar-container,
.settings__password-container {
	margin: 5% 5% 0;
	width: 100%;
}
.settings__password-container {
	margin-bottom: 5%;
}
#settings__password-new1-form,
#settings__password-new2-form {
	margin: 1%;
	width: 50%;
}

.settings__form-button {
	width: 50%;
}
