#navbar-container {
	display: flex;
	align-items: center;
	background-color: black;
	color: white;
	font-family: var(--font-family);
}
#navbar-title {
	flex: 1;
	margin: 0.5rem;
	font-size: xx-large;
}
.navbar-links {
	flex: 2;
	margin-right: 2rem;
	cursor: pointer;
}
.navbar-links__ul {
	font-size: x-large;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.navbar-links__li-img {
	justify-content: center;
	display: inherit;
	max-width: 75%;
}
.navbar-links__li {
	justify-content: center;
	display: inherit;
}
.activeLinks {
	color: var(--color-primary);
	text-decoration: underline;
}
#navbar__avatarImageUser {
	width: 100%;
	height: auto;
	object-fit: cover;
}
#navbar__avatarContainer {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar__links {
	display: grid;
	place-content: center;
}
.navbar__menu-buttons {
	/* margin: auto !important; */
	color: inherit !important;
	display: block !important;
}
.navbar__menu-buttons:hover {
	color: var(--color-primary);
}
#navbar__profil-iconButton {
	width: 100%;
}
#navbar__title {
	margin-right: 2%;
	display: none;
	font-family: monospace;
	font-weight: 700;
	letter-spacing: 0.3rem;
	color: inherit;
	text-decoration: none;
}
#navbar__mobile-title {
	margin-right: 2%;
	display: flex;
	flex-grow: 1;
	font-family: monospace;
	font-weight: 700;
	letter-spacing: 0.3rem;
	color: inherit;
	text-decoration: none;
}
#navbar__mobile-menu-container {
	flex-grow: 1;
	display: flex;
}
#navbar__mobile-menu {
	display: block;
}
#navbar__menu-container {
	flex-grow: 1;
	display: none;
}
@media screen and (min-width: 960px) {
	#navbar__title,
	#navbar__menu-container {
		display: flex;
	}
	#navbar__mobile-menu-container,
	#navbar__mobile-title,
	#navbar__mobile-menu {
		display: none;
	}
}
