.login__form-container {
  margin: 5% 0;
  align-items: center;
}
#login__form-box {
  width: fit-content;
  display: flex;
  padding: 5%;
  flex-direction: column;
  background-color: var(--background-color__forms);
  border-radius: 50px;
  font-family: var(--font-family);
}

#login__form-box > *:not(style) {
  margin: 2%;
}
.login__form-buttons {
  width: 50%;
  margin: auto;
  place-self: center;
}

.login__form-reset:hover {
  text-decoration: underline;
}

.login__form-option-container {
  display: flex;
  justify-content: space-evenly;
}
