.aboutus-container {
  margin: 10%;
  color: black;
  background-color: var(--color-background-text);
  padding: 2%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.315);
}

h1 {
  padding-bottom: 2%;
}
