.header-container {
  color: black;
  font-family: var(--font-family);
  text-align: center;
  margin-top: 10%;
}

.header-container h1 {
  margin-bottom: 5%;
}

.header-container p {
  font-size: x-large;
  margin-bottom: 5%;
}
