html,
body,
#App,
#root {
	height: -webkit-fill-available;
	height: 100%;
	margin: 0;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;

	/* overflow: auto; */
}

body {
	background-image: url('assets/images/cooking-bg.jpg');
	background-size: 100% 100%;
	/* background-repeat: no-repeat; */
	/* background-attachment: local; */
	/* background-attachment: fixed; */
}

a {
	color: unset;
	text-decoration: none;
}

#App {
	display: flex;
	flex-direction: column;
	overflow: auto;
	overflow-x: hidden;
}

.scrollbars::-webkit-scrollbar {
	width: 12px;
}

.scrollbars::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: #e7e7e7;
	border: 1px solid #cacaca;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbars::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #363636;
}
