.reset__form-page {
	width: 100%;
	height: 100%;
	display: flex;
	place-content: center;
	justify-content: center;
}

.reset__form-container {
	margin: auto;
	height: 25%;
	border-radius: 50px;
	background: var(--background-color__forms);
}
