.recipe__navbar-container {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  font-family: var(--font-family);
}

.recipe__navbar-title {
  flex: 1;
  margin: 0.5rem;
}

.recipe__navbar-title {
  font-size: xx-large;
}

.recipe__navbar-links {
  flex: 2;
  margin-right: 2rem;
  cursor: pointer;
}

.recipe__navbar-links ul {
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.recipe__navbar-links__li-img {
  justify-content: center;
  display: inherit;
}

.recipe__navbar-links__li {
  justify-content: center;
  display: inherit;
}

.recipe__navbar-links__li-img {
  max-width: 75%;
  justify-content: center;
  display: inherit;
  /* max-height: auto; */
}

.activeLink {
  color: #ff7f22;
  text-decoration: underline;
}
