.navbar-container {
	display: flex;
	align-items: center;
	background-color: black;
	color: white;
	font-family: var(--font-family);
}

.navbar-title {
	flex: 1;
	margin: 0.5rem;
	font-size: xx-large;
}

.navbar-links {
	flex: 2;
	margin-right: 2rem;
	cursor: pointer;
}

.navbar-links__ul {
	font-size: x-large;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.navbar-links__li-img {
	justify-content: center;
	display: inherit;
}

.navbar-links__li {
	justify-content: center;
	display: inherit;
}

.navbar-links__li-img {
	max-width: 75%;
	justify-content: center;
	display: inherit;
	/* max-height: auto; */
}

.activeLink {
	color: #ff7f22;
	text-decoration: underline;
}
